/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

.wrapper {
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    font-size: 12px;
  }
}

.btn {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  padding: 8px 15px;
  border: 2px solid var(--darkBlue);
  background-color: var(--darkBlue);
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.7s;
  cursor: pointer;
  padding: 20px auto;
  margin: 10px 0;
  width: 100%;
  line-height: 25px;
}

.btn:hover {
  background-color: #fff;
  color: var(--darkBlue);
}

.rodoBox {
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;

  position: relative;
  border-radius: 50px;
  border: 3px solid var(--darkBlue);
  padding: 30px 40px;
  box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 30px 20px;
  }
}

.documentWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: justify;
}

.documentTitle {
  text-align: center;
  margin: 40px auto;
}

.documentHeading {
  margin-bottom: 1rem;
}

.listItem {
  margin-bottom: 1rem;
  padding-left: 15px;
}

.listItem::marker {
  font-weight: 600;
}

.orderedList {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.insideList {
  list-style-type: lower-alpha; /* Zmienia numerację na a, b, c */
  list-style-position: inside; /* Wyrównanie numerów do tekstu */
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
