.courseTileWrapper {
  width: 90%;
  /* border: 1px solid #a9a9a9; */
  border: 1px solid #c5c5c5;
  margin: 40px auto;
  border-radius: 6px;
  overflow: hidden;
  width: 290px;
  height: 440px;
  background-color: #fff;

  -webkit-box-shadow: 3px 2px 5px 2px #e6e6e6;
  -moz-box-shadow: 3px 2px 5px 2px #e6e6e6;
  box-shadow: 3px 2px 5px 2px #e6e6e6;
}

.courseTileImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 180px;
  overflow: hidden;
}

.shortInfo {
  margin: 30px 15px 25px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #1d1d1f;
}

.mainElement {
  font-size: 14px;
  font-weight: 600;
  color: #1d1d1f;
  font-weight: 400;
  padding-top: 10px;
}

.btnBox {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: 34px;
  background-color: #1d1d1f;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.btnShowMore {
  background-color: #d5d5d5;
  color: #1d1d1f;
}
