.wrapper {
  border: 2px solid var(--darkBlue);
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* min-height: 800px; */
}

.imgWrapper {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.courseTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 20px 15px;
  color: #212121;
  line-height: 22px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseDescription {
  color: #777;
  font-size: 14px;
  padding: 0 15px;
  min-height: 120px;
  display: -webkit-box; /* Wymagane dla line-clamp */
  -webkit-box-orient: vertical; /* Wymaga orientacji pionowej */
  -webkit-line-clamp: 7; /* Liczba linii */
  overflow: hidden; /* Ukrywa resztę tekstu */
  text-overflow: ellipsis; /* Dodaje "..." na końcu */
}

.courseButton {
  color: #fff;
  background-color: #212121;
  border: 2px solid #212121;
  border-radius: 10px;
  margin: 20px 15px 30px 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.courseButton:hover {
  color: #212121;
  background-color: #fff;
}

.ahrefBtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
