.box {
  /* border: 2px solid orange; */
  padding: 10px;
  /* background-color: pink; */
  width: 90vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--lightBlue);
  background-color: #f5f5f5;
  /* background-color: green; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  max-width: 300px;
  position: relative;
  height: 100%;
  min-height: 510px;
  min-width: 300px;
}

.title {
  color: var(--basicBlue);
  font-size: 20px;
  text-align: center;
  margin: 35px auto 20px auto;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listElement {
  list-style: none;
  margin: 8px auto;
  font-size: 12px;
  line-height: 18px;
}

.uorderedList > li {
  list-style: none;
}

.btn {
  width: 160px;
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid var(--basicBlue);
  cursor: pointer;

  background-color: var(--basicBlue);
  /* background-color: #fff; */
  /* color: #333; */
  color: #fff;
  margin: 20px auto 0 auto;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
}

.btnBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.mainElement {
  padding: 6px;
  font-size: 13px;
  margin: auto 10px;
}

.courseType {
  font-size: 14px;
  padding-left: 10px;
  line-height: 22px;
}

.courseTypeWrapper {
  min-height: 60px;
}

.host {
  font-size: 14px;
}

.date {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

.price {
  font-size: 14px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid var(--datkBlue);
  text-transform: capitalize;
  margin: 15px auto;
}

.aBtn {
  margin: 0 auto;
}

.soldout {
  margin: 0 auto;
  border: 1px solid red;
  padding: 4px 8px;
  border-radius: 5px;
  color: red;
  width: fit-content;
  margin-bottom: 20px;
}

.newCourse {
  margin: 0 auto;
  border: 1px solid #77be2b;
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #77be2b;
  width: fit-content;
  margin-bottom: 20px;
  font-weight: 500;
}

.ended {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 15px;
  opacity: 0.8;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
  text-transform: uppercase;
}

.emptyBox {
  height: 40px;
  width: 100%;
}

.longInfo {
  padding: 20px;
}
