/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  border-radius: 50px;
  height: fit-content;
  background-color: var(--lightBlue);
  /* margin: 60px 40px; */
  box-shadow: -10px 10px 7px 0px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 350px;
    margin: 25px auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    margin: 20px auto;
    max-width: 300px;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    width: 550px;
    margin: 60px 40px;
  }
}

.glassBox {
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding: 30px 30px 45px 30px;
  border-radius: 50px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 20px 20px 40px 20px;
  }
}

.titleIconBox {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 20px 30px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 20px 10px 15px 20px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    font-size: 12px;
  }
}

.darkBlue {
  background-color: var(--darkBlue);
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}
