.wrapper {
  border: 1px solid #333;
  width: 90%;
  max-width: 1000px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  box-shadow: 0 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  @media screen and (min-width: 601px) {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  @media screen and (min-width: 901px) {
    padding: 20px 40px 40px 40px;
    width: 100%;
    max-width: 1000px;
  }
}

.doctorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 601px) {
    max-width: 600px;
    margin: 0 auto;
  }

  @media screen and (min-width: 901px) {
    padding: 60px 40px 40px 40px;
    width: 100%;
    max-width: 1000px;
  }
}

.imageWrapper {
  gap: 20px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 601px) {
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row;
    height: 280px;
  }
}

.button {
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 20px;
  border: 2px solid #3493cc;
  background-color: #3493cc;
  color: #f1f1f1;
  font-size: 18px;
  transition: 0.3s;
  text-align: center;
}

.button:hover {
  color: #3493cc;
  background-color: #f1f1f1;
}

.name {
  font-size: 26px;
  color: #333;
  margin: 40px auto;
}

.description {
  font-size: 15px;
  line-height: 20px;
  color: #333;
  margin: 0px 15px 20px 15px;
  text-align: center;

  @media screen and (min-width: 901px) {
    max-width: 600px;
    margin: 0 auto 40px auto;
  }
}
