/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  /* gap: 20px; */
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: none;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: none;
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    gap: 20px;
  }
}

.banner {
  font-family: Montserrat, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 380px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #cecece;
}

.box {
  margin-left: 10px;
}

.column {
  width: 80px;
}

.title {
  color: var(--darkBlue);
  font-weight: 600;
}

.titleHours {
  text-align: center;
}

.firstRow {
  color: var(--darkBlue);
  font-size: 14px;
  margin: 5px 0;
}

.secondRow {
  width: 140px;
  font-size: 11px;
  height: 26px;
}

.columnBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.dayOfWeek {
  font-size: 11px;
}

.hours {
  font-size: 11px;
}
