/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.bracesWrapper {
  width: 100vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 25px;
  width: max-content;
  margin: 0 auto;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wrapper > :nth-last-child(2):nth-child(odd),
.wrapper > :nth-last-child(1):nth-child(odd) {
  @media screen and (min-width: 1301px) {
    grid-column: 2 / 3;
  }
}

.mainTitle {
  font-size: 18px;
  margin: 50px auto;
  border-bottom: 2px solid var(--lightBlue);
  /* width: max-content; */
  width: 200px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin: 40px auto;
  }
}
