/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.innerWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
  /* width: 100%; */
  /* border: 2px solid red;? */
  justify-content: flex-start;
  gap: 0 30px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    align-content: center;
    margin: 0 auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    justify-content: center;
    width: 100vw;
  }
}

.outerWrapper {
  /* border: 1px solid orange; */
  margin: 50px auto;

  /* @media screen and (min-width: 601px) and (max-width: 900px) { */
  /* } */
}

.twoSectionOuterWrapper {
  display: flex;
  flex-direction: column;
}

.specialWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 900px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    flex-direction: column;
  }
}

.specialWrapperOne {
  border: 1px solid blue;
}

.specialInnerWrapper {
  /* border: 3px solid red; */
  display: flex;
  gap: 0 30px;

  flex-direction: column;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* width: 100%; */
    /* flex-direction: column; */
    justify-content: center;
    /* border: 1px solid red; */
    align-content: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* flex-direction: column; */
    align-items: center;
  }
}

.sectionTitle {
  font-size: 22px;
  border-bottom: 2px solid var(--darkBlue);
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: fit-content;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin: 0 auto 20px auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    margin: 20px auto;
  }
}
