/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  font-family: Montserrat, serif;
  z-index: 100;
  max-width: 1680px;
  margin: 0 auto;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow:
    0 -2px 4px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: baseline;
  width: 100vw;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* background-color: #fff; */
    /* position: fixed; */
    padding: 5px 10px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* font-family: "Montserrat"; */
    font-weight: 600;
    /* width: 100vw; */
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* position: fixed;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; */

    /* background-color: #fff; */
    /* position: fixed; */
    padding: 5px 10px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* font-family: "Montserrat"; */
    font-weight: 600;
    /* width: 100vw; */
  }

  /* @media screen and (min-width: 901px) and (max-width: 1680px) {
    position: fixed;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: centerkultur;
    vertical-align: baseline;
    width: 100vw;
    max-width: 1680px;
  } */

  /* @media screen and (min-width: 1681ox) {
    max-width: 1680px;
    margin: 0 auto;
    border: 2px solid green;
  } */
}

.insideWrapper {
  /* max-width: 1280px; */
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: baseline;
  width: 100vw;
  max-width: 1680px;
  padding: 10px 20px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 0;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    padding: 0;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* padding: 5px 10px; */
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    /* min-width: 1280px; */
  }
}

.links {
  display: flex;
  color: #333;
  align-items: center;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: none;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: none;
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    gap: 10px;
  }
}

.menuIcon {
  display: none;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: block;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: block;
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    display: none;
  }

  @media screen and (min-width: 901px) and (max-width: 1680px) {
    display: none;
  }
}

.menuOverlay {
  max-width: 1680px;
  gap: 25px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    top: 64px;
    right: -100vw;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #3493cc;
    transition: right 1.2s ease;
    overflow-y: auto;
    padding-bottom: 150px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    position: fixed;
    top: 80px;
    right: -200vw;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #3493cc;
    transition: right 1.2s ease;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    position: fixed;
    top: 62px;
    right: -200vw;
    width: 100vw;
    height: calc(100vh - 62px);
    transition: right 1.2s ease;
    padding-top: 90px;
  }

  @media screen and (min-width: 901px) and (max-width: 1000px) {
    gap: 10px;
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 20px;
    justify-content: center;
  }

  @media screen and (min-width: 1001px) and (max-width: 1300px) {
    gap: 20px;
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 20px;
    justify-content: center;
  }

  @media screen and (min-width: 1301px) and (max-width: 1680px) {
    gap: 25px;
  }
}

.menuOverlayOpen {
  right: 0;
  opacity: 1;

  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* padding-top: 250px; */
    padding-bottom: 20px;
    overflow-x: auto;
  }
}

.menuOverlayClose {
  opacity: 0;
}

.menuLink {
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  height: 20px;
  font-size: 17px;
  font-weight: 400;
  max-width: 1680px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    border: 1px solid white;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0;
    width: 260px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    padding: 15px 0;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    border: 1px solid white;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 0;
    width: 300px;
    width: 270px;
    margin: 0 auto;
    border-radius: 13px;
    color: white;
  }

  @media screen and (min-width: 901px) and (max-width: 1000px) {
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    height: 20px;
    /* font-size: 14px; */
    font-size: 13px;
    font-weight: 400;
    /* width: 340px; */
  }

  @media screen and (min-width: 1001px) and (max-width: 1680px) {
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    height: 20px;
    /* font-size: 14px; */
    font-size: 15px;
    font-weight: 400;
    /* width: 340px; */
  }
}

/* .menuLink:hover {
  @media screen and (width >= 1025px) {
    border-bottom: 2px solid #333;
    transition: 0.1s ease;
  }
} */

.registrationLink {
  display: none;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* margin-top: 100px; */
    row-gap: 100px;
    border: 2px solid white;
    padding: 15px 0;
    width: 260px;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    /* font-size: 18px; */
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* margin-top: 100px; */
    row-gap: 100px;
    border: 2px solid white;
    padding: 15px 20px;
    width: 270px;
    margin: 0 auto;
    border-radius: 13px;
    color: white;
    /* font-size: 18px; */
  }

  /* @media screen and (min-width: 901px) and (max-width: 1680px) {
    display: none;
  }

  @media screen and (min-width: 901px) and (max-width: 1680px) {
    display: none;
  } */
}

.desktopRegistrationBox {
  display: flex;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: none;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: none;
  }

  /* @media screen and (min-width: 901px) and (max-width: 1300px) { */
  /* display: none; */
  /* } */

  /* @media screen and (min-width: 901px) and (max-width: 1680px) { */
  /* } */
}

.desktopRegistrationName {
  color: #1180c3;
  cursor: default;

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    display: none;
  }
}

.desktopRegistrationPhone {
  width: 160px;
  height: 36px;
  border-radius: 20px;
  /* background-color: #1180c3; */
  background-color: #3493cc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.menuLinkExpand {
  @media screen and (min-width: 901px) {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: none;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: none;
  }
}

/* Ukryty dropdown, widoczny tylko na hover */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 10px 0;
}

/* Linki w dropdownie */
.dropdownLink {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdownLink:hover {
  background-color: #f0f0f0;
}

/* Wyświetlanie dropdowna na hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Styl dla linku "Oferta" */
.menuLink {
  /* padding: 10px 20px; */
  text-decoration: none;
  /* color: #333; */
}

/* Stylowanie dla widoków desktopowych */
@media (min-width: 901px) {
  .links {
    display: flex;
    gap: 20px;
  }
}

.mobileMenuLink {
  display: none;
  @media screen and (max-width: 600px) and (orientation: portrait) {
    display: flex;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: flex;
  }
}
