@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #fff;
  --foreground: #171717;
  --darkBlue: #00588d;
  --lightBlue: #1180c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.montserrat {
  font-family: var(--font-montserrat);
}

.mainWrapper {
  padding-top: 30px;
}

html,
body {
  /* height: 200vh; */
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
  max-width: 1680px;
  margin: 0 auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
