/* .box {
  @media screen and (width >= 375px) and (width <= 800px) {
  }

  @media screen and (width >= 800px) and (width <= 1024px) {
  }

  @media screen and (width >= 1025px) {
  }
} */

/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.outerWrapper {
  max-width: 100vw;
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat, serif;
    flex-direction: column;
    padding: 0;
    margin: 50px auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    flex-direction: column;
    margin: 50px auto;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    width: 1280px;
    margin: 100px 0;
  }
}

.grayWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  width: 100vw;
  position: relative; /* Zapewnia kontekst dla dzieci */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin-top: 50px;
  }
}

.grayInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 25px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column;
    padding: 25px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    /* flex-direction: column; */
    /* margin: 25px auto; */
    padding: 35px 25px;
  }
}

.xmastree {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 100%;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    width: 570px;
  }
}

.title {
  position: relative;
  display: flex;
  align-items: center; /* Wyrównuje linię względem tekstu */
  color: var(--darkBlue);
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

.title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px; /* Wysokość linii */
  background-color: var(--darkBlue); /* Kolor linii */
  margin-right: 5px; /* Odstęp między linią a tekstem */
}

.description {
  margin-bottom: 40px;
  text-align: justify;
  line-height: 23px;
  color: #333;

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    width: 550px;
    font-size: 15px;
    line-height: 26px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    /* width: 50%; */
    /* margin: 0 auto; */
    font-size: 12px;
  }
}

.officeDescription {
  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    width: 90%;
    font-size: 12px;
  }
}

.descriptionBox {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    width: 70%;
    margin: 0 auto;
  }
}
