/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.outerWrapper {
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}

.sectionWrapper {
  font-family: Montserrat, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  max-width: 1300px;
  margin: 50px auto;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    margin: 50px auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    margin: 50px auto;
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    width: 80%;
    flex-direction: column;
    margin: 50px auto;
  }
}

.grayWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin-top: 50px;
  }
}

.grayInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 75px 50px;
  max-width: 1300px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column;
    padding: 25px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    flex-direction: column;
    padding: 35px 75px;
    width: 80%;
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    flex-direction: column;
    margin: 50px auto;
    padding: 35px 75px;
    width: 80%;
  }
}

.xmastree {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 570px; */
  width: 100%;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* width: 100%; */
    width: 100vw;
  }

  @media screen and (min-width: 601px) {
    /* width: 100%; */
    width: 570px;
  }
}

.xmastree > img {
  border-radius: 10px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* width: 100%; */
    width: 100vw;
    max-width: 400px;
    height: 260px;
  }
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--darkBlue);
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;

  @media screen and (max-width: 600px) {
    /* Styl dla urządzeń mobilnych w widoku wertykalnym */
    width: 90%;
    font-size: 22px;
  }
}

.title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: var(--darkBlue);
  margin-right: 5px;
}

.description {
  text-align: justify;
  line-height: 23px;
  width: 550px;
  color: #333;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* width: 90%; */
    width: 100%;
    /* width: 100vw; */
    margin-bottom: 20px;
  }

  /* @media screen and (max-width: 600px) and (orientation: portrait) {
    width: auto;
  } */

  @media screen and (min-width: 601px) and (max-width: 900px) {
    font-size: 15px;
    margin-bottom: 20px;
    width: auto;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) {
    width: 550px;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

.officeDescription {
  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    width: 90%;
    font-size: 12px;
  }
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    width: 70%;
    margin: 0 auto;
  }
}
