/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */
.wrapper {
  max-width: 1280px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--lightBlue);
  font-family: Montserrat, serif;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 350px;
    flex-direction: column;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 350px;
    flex-direction: column;
    margin: 0 auto;
  }

  @media screen and (min-width: 901px) {
    height: 300px;
    /* border: 3px solid red; */
  }
}

.wrapper > img {
  width: "100%";
  height: "auto";
}

.mainName {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin: 0 auto;
    font-size: 18px;
    margin: 25px auto 15px auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    margin: 0 auto;
    font-size: 18px;
    margin: 25px auto 15px auto;
  }
}

.mainTitle {
  font-size: 17px;
  font-weight: 400;
  margin: 3px auto;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    font-size: 15px;
  }
}

.title {
  width: 200px;
}

.textWrapper {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (min-width: 901px) {
    /* height: 300px; */
    /* border: 3px solid red; */
    margin: 0 80px 0 0;
  }
}

.btn {
  margin: 0 auto;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 35px;

  @media screen and (min-width: 901px) {
    margin-bottom: 0;
  }
}

.btn:hover {
  color: var(--lightBlue);
  background-color: #fff;
  border: 2px solid var(--lightBlue);
}

.sectionTitle {
  font-size: 26px;
  font-weight: 500;
  border-bottom: 2px solid var(--darkBlue);
  padding-bottom: 5px;
  /* margin-bottom: 30px; */
  margin-left: 10px;
  width: fit-content;
  margin: 80px auto 20px auto;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    margin: 80px auto 20px auto;
  }
}
