/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

.backgroundWhite {
  width: 100vw;
  color: #333;
  padding: 40px 20px;
  height: fit-content;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    /* flex-direction: column-reverse; */
    flex-direction: column;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
}

.backgroundWhiteStomatology {
  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column-reverse;
    /* flex-direction: column; */
  }
}

.backgroundGray {
  width: 100vw;
  color: #333;
  padding: 40px 20px;
  height: fit-content;
  background-color: #f5f5f5;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
}

.reverse {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 901px) {
    flex-direction: row-reverse;
  }
}
