/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.priceListWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  gap: 60px;
  /* margin: 0 auto; */

  margin: 90px auto 0 auto;
  /* border: 2px solid green; */

  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column;
    /* flex-direction: row; */
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* border: 2px solid red; */
    flex-direction: column;
    /* flex-direction: row; */
    width: 90%;
    margin: 90px auto 0 auto;
    /* border: 2px solid orange; */
  }

  @media screen and (min-width: 901px) and (max-width: 1300px) {
    margin-top: 90px;
    padding: 0 20px;
  }
}

.wrapper {
  position: relative;
  border-radius: 50px;
  border: 2px solid var(--darkBlue);
  padding: 30px 40px;
  box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 30px 20px;
  }
}

.btn {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 8px 15px;
  border: 2px solid var(--darkBlue);
  border-radius: 20px;
  color: var(--darkBlue);
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
  background-color: #fff;
  cursor: pointer;
  /* width: max-content; */
}

.btn:hover {
  background-color: var(--darkBlue);
  color: #fff;
}

.mainSign {
  font-family: Montserrat, sans-serif;
  position: absolute;
  top: -20px;
  left: 40px;
  border: 1px solid var(--lightBlue);
  background-color: var(--lightBlue);
  color: #fff;
  padding: 7px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.innerWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 465px; */
  gap: 15px;
  margin-right: auto;
  /* border: 2px solid red; */
}
