.courseBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  gap: 25px 10px;
  padding-bottom: 20px;
  justify-content: center;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    width: 100%;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 100%;
  }
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* wysokość kontenera */
  padding-left: 16px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* jasna część */
  border-top: 4px solid #000; /* ciemna część – to się kręci */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
