/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 kolumny */
  grid-template-rows: repeat(1, 1fr); /* 2 rzędy */
  gap: 10px; /* Odstępy między elementami */
  width: 100%;

  font-family: Montserrat, serif;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 5px 10px;

    grid-template-columns: repeat(2, 1fr); /* 3 kolumny */
    grid-template-rows: repeat(2, 1fr); /* 2 rzędy */
    /* width: 90%; */
    margin: 0 auto;
    font-size: 12px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    width: 85%;
    gap: 20px;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    gap: 25px;
  }
}

.titlePhotoLinkRow {
  @media screen and (max-width: 600px) and (orientation: portrait) {
    border-bottom: 1px solid var(--basicBlue);
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 35px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    border-bottom: 1px solid var(--basicBlue);
    margin: 0 auto;
    width: fit-content;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) {
    display: none;
  }
}
