/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  font-family: Montserrat, serif;
  z-index: 100;
  max-width: 1680px;
  margin: 0 auto;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow:
    0 -2px 4px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  vertical-align: baseline;
  width: 100vw;
  background-color: #f5f5f7;
  /* border: 2px solid orange; */

  @media screen and (max-width: 600px) and (orientation: portrait) {
    padding: 5px 10px;
    align-items: center;
    /* justify-content: space-between; */
    font-weight: 600;
    justify-content: space-between;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 5px 10px;
    font-weight: 600;
  }

  /* @media screen and (min-width: 901px) and (max-width: 1680px) {
  } */

  /* @media screen and (min-width: 1681ox) {
  } */
}

.btnBuy {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  color: #fff;
}
