/* @media screen and (max-width: 600px) and (orientation: portrait) { */
/* Styl dla urządzeń mobilnych w widoku wertykalnym */
/* } */

/* @media screen and (max-width: 600px) and (orientation: landscape) { */
/* Styl dla urządzeń mobilnych w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) { */
/* Styl dla tabletów w widoku wertykalnym */
/* } */

/* @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) { */
/* Styl dla tabletów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 901px) and (max-width: 1600px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/*   to jest merge tych dwoch
/* @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) { */
/* Styl dla laptopów w widoku horyzontalnym */
/* } */

/* @media screen and (min-width: 1200px) and (max-width: 1600px) and (orientation: portrait) { */
/* Styl dla komputerów stacjonarnych w widoku wertykalnym */
/* } */

.wrapper {
  width: 240px;
  height: 370px;
  border: 2px solid var(--basicBlue);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0;
}

.icon {
  margin-bottom: 20px;
}

.mainName {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  width: 90%;
  /* text-transform: capitalize; */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-size: 13px;
  text-align: center;
  margin: 10px auto;
  height: 58px;
  line-height: 18px;
}

.btn {
  margin: 0 auto;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  color: var(--lightBlue);
  background-color: #fff;
  border: 2px solid var(--lightBlue);
}
