.box {
  /* border: 2px solid orange; */
  padding: 20px;
  /* background-color: pink; */
  width: 90vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--lightBlue);
  background-color: #f5f5f5;
  /* background-color: green; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  max-width: 400px;
}

.title {
  color: green;
  color: var(--basicBlue);
  font-size: 20px;
  text-align: center;
  margin: 35px auto;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  height: 60px;
}

.listElement {
  list-style: none;
  margin: 8px auto;
  font-size: 12px;
  line-height: 18px;
}

.uorderedList > li {
  list-style: none;
}

.btn {
  width: 160px;
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid var(--basicBlue);

  background-color: var(--basicBlue);
  /* background-color: #fff; */
  /* color: #333; */
  color: #fff;
  margin: 20px auto 0 auto;
  font-weight: 500;
  transition:
    max-height 1s ease,
    opacity 1s ease;
}

.btnBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.mainElement {
  padding: 6px;
  font-size: 13px;
}

.courseType {
  font-size: 14px;
  padding-left: 10px;
  line-height: 22px;
}

.host {
  font-size: 14px;
}

.date {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

.price {
  font-size: 14px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid var(--datkBlue);
  text-transform: capitalize;
  margin: 15px auto;
}

.aBtn {
  margin: 0 auto;
}

/* .listItem {
  padding: 5px auto;
} */
