/* .box {
  @media screen and (width >= 375px) and (width <= 800px) {
  }

  @media screen and (width >= 800px) and (width <= 1024px) {
  }

  @media screen and (width >= 1025px) {
  }
} */

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid red; */
  max-width: 240px;
  @media screen and (width >= 375px) and (width <= 800px) {
    margin-bottom: 30px;
  }
}

.imageWrapper {
  border-radius: 25px;
  /* border: 2px solid orange; */
  overflow: hidden;
  aspect-ratio: 3/2;
  /* height: 200px; */
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid var(--lightBlue);
  border-radius: 20px;
  height: 51px;
  color: #fff;
  background-color: var(--lightBlue);
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.smallText {
  text-transform: none;
  font-size: 11px;
}
